$fondo: #334651;
$yellow: #F0B823;

.auth__content__nav {
  background-color: $fondo;
  margin-right: 15%;
  margin-left: 15%;
  opacity: 0.75;
  text-align: center;
  width: 70%;
}

.auth__title {
  text-transform: uppercase;
}

.auth__nav ul li {
  border-left: 2px solid #fff;
  cursor: pointer;
  display: inline;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 8px;
  padding-right: 8px;

  &:hover {
    color: $yellow;
  }
}

ul {
  margin-top: 6px;
}
